.tickets{
    display: flex;
    background-color: #F7F8FC;
    padding-left: 80px;
}

.content{
    min-width: 100%;
    padding: 36px 33px 30px 30px;
    box-sizing: border-box;
    // margin-left: 300px;
}

