.idea{
    display: flex;
    background: #F7F8FC;
    margin-left: 80px;

    &-right{
        width: 100%;
        padding: 36px 33px 30px 30px;
        box-sizing: border-box;
    }

    h1{
        margin-bottom: 20px;
    }

    button{
        padding: 8px;
        display: inline-block;
        background-color: transparent;
        color: #000;
        border: none;
        font-size: 42px;
        outline: none;
        border: none;
        cursor: pointer;

        &:focus{
            outline: none;
        border: none;
        }
        
    }

    .button{
            margin-right: 50px;
    }
}